/***************** Menu do Administrador ******************/

.div-caixa{
  display: block;
  margin: 3% auto 3% auto;
}

.div-caixa .section-esqueda{
  border: 1px solid black;
  margin: 0 1% 0 1%;
  height: 500px; /* ver jeito melhor de responsividade*/
  position: relative;
}

.menu-button{
}

/***************** Div de apresentação ******************/
.div-caixa .section-direita{
  border: 1px solid black;
  margin: 0 1% 0 1%;
  height: 500px; /* ver jeito melhor de responsividade*/
  position: relative;
  display: table;
}

.div-caixa .section-direita div#welcome{
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  width: 100%;
}

.div-caixa .section-direita div#cadastro-noticias{
  display: table-cell;
  vertical-align:top;
}

.div-caixa .section-direita label#lab{
  border: 1px solid black;
  width: 100%;
}

.caixa-painel{
}
