section#caixa-login {
  margin: 0 auto;
  width: 370px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

div#container {
  background: white;
  margin: 20px 0;
  padding: 10px;
}


form#formLogin{
  margin: 0 auto;
  width: 300px;
  padding: 10px;
}

.center {
  margin: 0 auto;
  width:80%
}

img#logo{
      display: block;
      margin: auto;
      width: 40%;}

a{
  text-align: center;

}
