a {
    text-align: center;
}

.page {
    display: none;
}

.busca {
    margin-bottom: 2vh;
}


/*html, body {height:100%;}*/

.navbar-default {
    background-color: #f9a11f;
    border-color: #f9a11f;
}

section#caixa-registro {
    margin: 0 auto;
    width: 345px;
    padding: 20px;
    /*border: 2px solid black;*/
    border-radius: 10px;
    box-shadow: 0px 0px 20px -5px black;
}

.uploads {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    display: none;
}

.dropzone {
    border: 2px dashed #bbb;
    padding: 25px;
    color: #bbb;
    text-align: center;
    line-height: 15vh;
    min-height: 15vh;
}

.dropzone.dragover {
    border-color: #4286f4;
    color: #4286f4;
}

div#container-reg {
    background: white;
    margin: 20px 0;
    padding: 10px;
}

section#caixa {
    padding: 20px 35px 5px;
    margin: 10px 30px 10px;
    border-style: none;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
    box-shadow: inset 0 3px 15px rgba(0, 0, 0, .05);
}

div#contorno {
    background-color: white;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
    padding-top: 10px;
}

div#container {
    background: white;
    margin: 20px 0;
    padding: 10px;
}

h4.panel-title {
    font-weight: 900;    
}

div.panel-collapse {
    margin-top: 8px;
    font-weight: 500;
    background-color: rgb(240, 240, 240);
    font-size: 14px;
    font-family: Calibri;
    color: rgb(10, 10, 10);
    border-radius: 6px;
}

div#titulo {
    background-color: #bcd1ec;
    border-color: #e5e5e5 #333333 #eee;
    border-style: solid;
    border-width: 1px 0;
    margin: 15px 2px -1px;
    box-shadow: inset 0 1px 12px 3px rgba(0, 0, 0, .05);
}

.direita {
    position: relative;
    left: 90%;
}

textarea#fixa {
    overflow: auto;
    resize: none;
}

.center {
    margin: 0 auto;
    width: 80%
}

.direita {
    position: relative;
    left: 90%;
}


/******************************* Tela de login ******************************/

img#logo {
    display: block;
    margin: auto;
    width: 12%;
    padding: 30px;
}

form#formLogin {
    margin: 0 auto;
    width: 300px;
    padding: 10px;
}

section#caixa-login {
    margin: 0 auto;
    width: 345px;
    padding: 20px;
    /*border: 2px solid black;*/
    border-radius: 10px;
    box-shadow: 0px 0px 20px -5px black;
}


/*****************************  Footer *********************************/

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    position: relative;
    bottom: -100px;
    padding: 55px 50px;
    margin-top: 70px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}


/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    /*font: normal 36px 'Cookie', cursive;*/
    /*Acho que em Sans-serif fica mais sério e profissional, mas deixei o Cookie caso optem por usar ele*/
    font: normal 36px sans-serif;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 40px 0 15px;
    padding-top: 27px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    padding-left: 20px;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: white;
    text-decoration: none;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.modal-backdrop {
    z-index: 0;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}


/*************************************** cadastro de notícias *************************************/

div#caixa-img {
    height: 20vh;
}

.caixa-busca {
    background-color: #b3b3b3;
    border-color: #e5e5e5 #333333 #eee;
    border-style: solid;
    border-width: 1px 0;
    box-shadow: inset 0 1px 12px 3px rgba(0, 0, 0, .05);
}

div#cadatro-noticias {
    margin: 0 auto;
}


/*************************************** Gerenciamento *************************************/

input#busca {
    border-radius: 30px;
}


/*************************************** Backup *****************************************/

.caixa-backup {
    margin-left: 23px;
    /* border: .05px solid black;
    border-radius: 10px; */
    box-shadow: 0px 0px 15px -5px black;
    /* REVER ESSE BUG ESCROTO
    height: 40vh;*/
}

.caixa-backup-titulo {
    background-color: #bcd1ec;
    border-color: #333333;
    padding-top: .02px;
    margin-left: -15px;
    margin-right: -15px;
    box-shadow: 0px 0px 2px -3px black;
}

.caixa-backup-titulo h6 {
    text-transform: capitalize;
    padding-bottom: 2px;
    padding-left: 4px;
    font-weight: bold;
}

.historico-backup {
    /* box-shadow: 0px 0px 15px -5px black; */
}

.historico-backup td {
    padding: 2vh;
    margin: 2vh;
}

.historico-backup tr {
    padding: 3vh;
}


/********************************** Vizualização de imagens de uma obra ***********************************/


/* Main carousel style */

.carousel {
    width: 600px;
}


/* Indicators list style */

.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
    float: left;
}


/* Indicators list style */

.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
    float: left;
}


/* Indicators images style */

.article-slide .carousel-indicators img {
    border: 2px solid black;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}


/* Indicators active image style */

.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}

.caixa-informacoes-obra {
    border: 2px solid rgba(0, 0, 0, .1);
    height: 50vh;
    width: 80vh;
    margin-left: 10vh;
    margin-top: 3vh;
    padding: 2vh;
    border-radius: 5px;
}

.painel-imagens-obra {
    border-left: 2px solid black;
    
}

.botao-galeria {
    padding: 2vh;
}


/********************************** Cadastro de noticia ***********************************/

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/*********************************** Gerenciamento de Obras ********************************/

.caixa-obra {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 2vh;
    padding-top: 2vh;
}

.caixa-obra:hover {
    background-color: #b3b3b3;
}

.caixa-obra h5 {
    transition: background-color 1s;
    font-size: 2vh;
}

.item img {
    width:100%;
    height:auto !important;
}