header{
    background-color: white;
    margin-bottom:1px; 
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
}

.item-cabecalho:first-child{
    margin-left:0px;
}
.item-cabecalho{
    float:left;
    font-size:medium;
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
}
.item-cabecalho a{
    font-size:16px;
    color: #4F2F00;
    text-decoration-style: none;  
    font-weight: bold;  
}

.icone-home{
    background: url('../images/home.png');
    height: 16px;
    width: 16px;
    float:left;
    margin-right: 5px;
}

.icone-galeria{
    background: url('../images/gallery.png');
    height: 16px;
    width: 16px;
    float:left;
    margin-right: 5px;
}

.icone-sobre{
    background: url('../images/info.png');
    height: 16px;
    width: 16px;
    float:left;
    margin-right: 5px;
}