<!DOCTYPE html>
<html lang="pt-BR">
  <head>

    <!-- Configurações de página -->
    <meta charset="utf-8" />
    <meta name="description" content="Setour" />
    <meta name=viewport  content="width=device-width, initial-scale=1" />

    <title>Sertour</title>

    <!-- Importação de estilo -->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css">
    <link rel="stylesheet" type ="text/css" href="assets/css/site.mim.css">
    <link rel="stylesheet" type ="text/css" href="assets/css/site.css">
    <link rel="stylesheet" type ="text/css" href="assets/css/adm.css">


    <!-- Importação de script -->
    <script type ="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>


  </head>
  <body>
    <!-- Container principal -->
    <div class="container-fluid">

      <!-- Caixa maior -->
      <div class="row div-caixa">
        <!--  Add the extra clearfix for only the required viewport
          <div class="clearfix visible-xs-block">xxxxx</div> -->

        <!-- Menu -->
        <div class="col-xs-2 col-sm-2 section-esqueda">
            <img src="assets/images/adm-292.png" class="img-rounded">
            <h4 class="text-center"> <small>Nome do admins</small></h4>
            <h6 class="text-center"> <small>Administrador </small></h6>

          <div class="row">
            <div class="dropdown">
              <button class="dropdown-toggle btn-block menu-button" type="button" data-toggle="dropdown">Obras</button>
              <ul class="dropdown-menu">
                <li><button class="btn-block">REGISTRO</button></li>
                <li><button class="btn-block">GERENCIAMENTO</button></li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="dropdown">
              <button class="dropdown-toggle btn-block menu-button" type="button" data-toggle="dropdown">Funcionários</button>
              <ul class="dropdown-menu">
                <li><button class="btn-block">REGISTRO</button></li>
                <li><button class="btn-block">GERENCIAMENTO</button></li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="dropdown">
              <button class="dropdown-toggle btn-block menu-button" type="button" data-toggle="dropdown">Notícias</button>
              <ul class="dropdown-menu">
                <li><button class="btn-block">REGISTRO</button></li>
                <li><button class="btn-block">GERENCIAMENTO</button></li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="dropdown">
              <button class="dropdown-toggle btn-block menu-button" type="button" data-toggle="dropdown">Formulários</button>
              <ul class="dropdown-menu">
                <li><button class="btn-block">REGISTRO</button></li>
                <li><button class="btn-block">GERENCIAMENTO</button></li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="dropdown">
              <button class="dropdown-toggle btn-block menu-button" type="button" data-toggle="dropdown">Relatórios</button>
              <ul class="dropdown-menu">
                <li><button class="btn-block">REGISTRO</button></li>
                <li><button class="btn-block">GERENCIAMENTO</button></li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="dropdown">
              <button class="dropdown-toggle btn-block menu-button" type="button" data-toggle="dropdown">Backup</button>
              <ul class="dropdown-menu">
                <li><button class="btn-block">REGISTRO</button></li>
                <li><button class="btn-block" >GERENCIAMENTO</button></li>
              </ul>
            </div>
          </div>


      </div>


        <div class="col-xs-9 col-sm-9 section-direita">.col-sm-8</div>
      </div>





    </div>

  </body>

    <script language="javascript">

      function mudaDiv(divA, divB){
        document.getElementById(divA).innerHTML = document.getElementById(divB).innerHTML;
      }
    </script>

</html>
