<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!--Codificação dos caracteres: UTF-8-->
    <meta charset="utf-8" />
    <!--Descrição da página: Sertour-->
    <meta name="description" content="Setour" />
    <!--Regulando a visão da tela para a largura relativa à tela utilizada-->
    <meta name=viewport content="width=device-width, initial-scale=1" />

    <title>Backup</title>

    <!--Importação do CSS do Bootstrap, Bootflat e o pessoal (Estilos)-->
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-social.css" />
    <link rel="stylesheet" href="assets/css/site.css" />
    <link rel="stylesheet" href="assets/css/site.min.css" />
    <link rel="stylesheet" href="assets/css/adm.css" />


    <!--Importação do Javascript pessoal e jQuery  -->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/cadObras-script.js"></script>

</head>

<body style="background-color: rgb(241, 242, 246);">

    <div class="container">

        <!--Título da caixa-->
        <div id="titulo">
            <h4 class="text-center">Backup</h4>
        </div>
        <!--Fim do título da caixa-->

        <!-- Contorno -->
        <div id="contorno">

            <!-- Caixa interna -->
            <section id="caixa">
                <p> Deseja fazer backup agora?
                    <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-cloud-download " style="font-size: 25px"  ></span>
                 </button>
                </p>


                <div class="row" style="margin-top: 5vh">

                    <div class="col-sm-7 caixa-backup">
                        <h6>Backup Automático</h6>

                    </div>


                    <div class="col-sm-4 caixa-backup">
                        <h6>Histórico de Backup</h6>
                    </div>

                </div>



                <!-- /FIM da Caixa interna -->
            </section>

            <!-- FIM do Contorno -->
        </div>



    </div>

    <!-- Footer -->
    <footer class=" footer-distributed ">

        <div class="footer-left ">

            <h3>Sertour</h3>

            <p class="footer-company-name ">MItologic Software® &copy; 2017</p>
        </div>

        <div class="footer-center ">

            <p class="footer-links ">
                <a href="# ">Home</a>
                <a href="# ">Galeria</a>
                <a href="# ">Sobre</a>
            </p>

        </div>

        <div class="footer-right ">

            <div class="footer-icons ">
                <p style="text-align: center; ">
                    <a href="# "><i class="fa fa-twitter "></i></a>
                    <a href="# "><i class="fa fa-facebook "></i></a>
                    <a href="# "><i class="fa fa-google-plus "></i></a>
                </p>

            </div>


        </div>

    </footer>
    <!-- /Footer -->

</body>

</html>