<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!--Codificação dos caracteres: UTF-8-->
    <meta charset="utf-8" />
    <!--Descrição da página: Sertour-->
    <meta name="description" content="Setour" />
    <!--Regulando a visão da tela para a largura relativa à tela utilizada-->
    <meta name=viewport content="width=device-width, initial-scale=1" />

    <title>Backup</title>

    <!--Importação do CSS do Bootstrap, Bootflat e o pessoal (Estilos)-->
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-social.css" />
    <link rel="stylesheet" href="assets/css/site.css" />
    <link rel="stylesheet" href="assets/css/site.min.css" />

    <!--Importação do Javascript pessoal e jQuery  -->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/cadObras-script.js"></script>
    <script src="assets/js/bootstrap.js"></script>



    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>



</head>

<body style="background-color: rgb(241, 242, 246);">

    <div class="container">

        <!--Título da caixa-->
        <div id="titulo">
            <h4 class="text-center">Backup</h4>
        </div>
        <!--Fim do título da caixa-->

        <!-- Contorno -->
        <div id="contorno">

            <!-- Caixa interna -->
            <section id="caixa">

                <!-- Backup manual -->
                <p> Deseja fazer backup agora?

                    <!-- Botão de backup manual -->
                    <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-cloud-download " style="font-size: 25px"  ></span>

                <!-- /FIM de botão de backup manual -->
                 </button>

                    <!-- /FIM de Backup manual -->
                </p>


                <!-- Div onde fica localizada as caixas inferiores de histórico e backup automático -->
                <div class="row" style="margin-top: 5vh">

                    <!-- Backup automático -->
                    <div class="col-sm-7 caixa-backup">

                        <!-- Título da caixa de backup automático -->
                        <div class="caixa-backup-titulo">
                            <h6>
                                Backup Automático
                            </h6>
                        </div>
                        <!-- /FIM Título da caixa de backup automático -->



                        <!-- Ligar ou desligar backup automatico -->
                        <div class="row" style="padding-bottom: 2vh;margin-top:6vh;">

                            <!-- Nome da opção -->
                            <div class="col-sm-5">
                                <p>Ativar/Desativar: </p>
                            </div>

                            <!-- Toggle -->
                            <div class="col-sm-5">
                                <input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-size="small">

                                <!-- TOGGLE OFFLINE
                                <label class="toggle">
                                    <input type="checkbox" checked>
                                    <span class="handle">
                                    </span>

                                </label>

                            -->
                            </div>

                            <!-- Ligar ou desligar backup automatico -->
                        </div>


                        <!-- Frequencia do backup automático-->
                        <div class="row">

                            <!-- Nome da opção do caixa de seleção -->
                            <div class="col-sm-5">
                                <p>Frequência do backup: </p>
                            </div>


                            <!-- Caixa de seleção de opção da frequencia -->
                            <div class="col-sm-5">
                                <select class="selectpicker">
                                    <option>Diariamente</option>
                                    <option class="special">Semanalmente</option>
                                    <option>Mensalmente</option>
                                 </select>

                                <select class="selectpicker" data-style="btn-primary" style="display: none;">
                                    <option data-icon="glyphicon glyphicon-music">Diariamente</option>
                                    <option data-icon="glyphicon glyphicon-star">Semanalmente</option>
                                    <option data-icon="glyphicon glyphicon-heart">Mensalmente</option>
                                </select>

                                <select class="selectpicker" data-style="btn-primary" data-width="auto" style="display: none;">
                                    <option data-icon="glyphicon glyphicon-music">Diariamente</option>
                                    <option data-icon="glyphicon glyphicon-star">Semanalmente</option>
                                    <option data-icon="glyphicon glyphicon-heart">Mensalmente</option>
                                </select><br>

                                <!-- Caixa de seleção de opção -->
                            </div>

                            <!-- /FIM Frequencia do backup automático-->
                        </div>

                        <div class="row" style="margin-top: 2vh; margin-bottom: 2vh;">
                            <div class="col-md-offset-9">
                                <button class="btn btn-default">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    Definir</button>
                            </div>
                        </div>

                        <!-- /FIM Backup automático -->
                    </div>


                    <!-- Div Histórico de backup -->
                    <div class="col-sm-4 caixa-backup">

                        <!-- Título da div -->
                        <div class="caixa-backup-titulo">
                            <h6>
                                Histórico de Backup
                            </h6>
                        </div>

                        <!-- Lista de históicos -->

                        <table class="historico-backup">
                            <tr>
                                <td>
                                    <p>Data</p>
                                </td>
                                <td>
                                    <p>Tamanho</p>
                                </td>
                                <td><img src="assets/images/if_backup_383184.png"></td>

                            </tr>

                            <tr>
                                <td>
                                    <p>Data</p>
                                </td>
                                <td>
                                    <p>Tamanho</p>
                                </td>
                                <td><img src="assets/images/if_backup_383184.png"></td>

                            </tr>

                            <tr>
                                <td>
                                    <p>Data</p>
                                </td>
                                <td>
                                    <p>Tamanho</p>
                                </td>
                                <td><img src="assets/images/if_backup_383184.png"></td>

                            </tr>



                        </table>

                    </div>

                </div>

                <!-- / Div onde fica localizada as caixas inferiores de histórico e backup automático -->
        </div>



        <!-- /FIM da Caixa interna -->
        </section>

        <!-- FIM do Contorno -->
    </div>



    </div>

    <!-- Footer -->
    <footer class=" footer-distributed ">

        <div class="footer-left ">

            <h3>Sertour</h3>

            <p class="footer-company-name ">MItologic Software® &copy; 2017</p>
        </div>

        <div class="footer-center ">

            <p class="footer-links ">
                <a href="# ">Home</a>
                <a href="# ">Galeria</a>
                <a href="# ">Sobre</a>
            </p>

        </div>

        <div class="footer-right ">

            <div class="footer-icons ">
                <p style="text-align: center; ">
                    <a href="# "><i class="fa fa-twitter "></i></a>
                    <a href="# "><i class="fa fa-facebook "></i></a>
                    <a href="# "><i class="fa fa-google-plus "></i></a>
                </p>

            </div>


        </div>

    </footer>
    <!-- /Footer -->

</body>

<script type="text/javascript">
    window.onload = function() {
        $('.selectpicker').selectpicker();
        $('.rm-Diariamente').click(function() {
            $('.remove-example').find('[value=Diariamente]').remove();
            $('.remove-example').selectpicker('refresh');
        });
        $('.rm-Semanalmente').click(function() {
            $('.remove-example').find('[value=Semanalmente]').remove();
            $('.remove-example').selectpicker('refresh');
        });
        $('.rm-Mensalmente').click(function() {
            $('.remove-example').find('[value=Mensalmente]').remove();
            $('.remove-example').selectpicker('refresh');
        });
        $('.ex-disable').click(function() {
            $('.disable-example').prop('disabled', true);
            $('.disable-example').selectpicker('refresh');
        });
        $('.ex-enable').click(function() {
            $('.disable-example').prop('disabled', false);
            $('.disable-example').selectpicker('refresh');
        });

        // scrollYou
        $('.scrollMe .dropdown-menu').scrollyou();

        prettyPrint();
    };
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js" />

</html>t>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js" />

</html>