<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Setour" />
	<meta name=viewport  content="width=device-width, initial-scale=1" />
	<title>Cadastro de obras</title>

	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/estilo.css">
	<link rel="stylesheet" href="css/bootstrap-social.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

	<h1>Cadastro de Obras</h1>

	<div class="table-responsive">

		<form method="post">
			<fieldset>
				<legend>Identificação do Objeto</legend>
				<table cellspacing="10">
					<tr>
						<td align="left">
							<input type="text" name="nome" placeholder="Nome do Objeto (*)">
						</td>
						<td>
							<input type="text" name="titulo" placeholder="Título (*)">
						</td>
					</tr>
					<tr>
						<td align="left">
							<input type="text" name="inventario" placeholder="Número do Inventário (*)">
						</td>
						<td>
							<input type="text" name="colecao" placeholder="Coleção (*)">
						</td>
					</tr>
					<tr>
						<td align="left">
							<input type="text" name="origem" placeholder="Origem">
						</td>
						<td>
							<input type="text" name="procedencia" placeholder="Procedência">
						</td>
					</tr>
					<tr>
						<td align="left">
							<input type="text" name="classificacao" placeholder="Classificação (*)">
						</td>
						<td>
							<input type="text" name="funcao" placeholder="Função">
						</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="tags" placeholder="Palavras-chave" align="justify">
						</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="descricao" placeholder="Descrição">
						</td>
					</tr>
				</table>
			</fieldset>
		</form>

	</div>

</body>
</html>