<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<!--Codificação dos caracteres: UTF-8-->
	<meta charset="utf-8" />
	<!--Descrição da página: Sertour-->
	<meta name="description" content="Setour" />
	<!--Regulando a visão da tela para a largura relativa à tela utilizada-->
	<meta name=viewport content="width=device-width, initial-scale=1" />

	<title>Cadastro de obras</title>

	<!--Importação do CSS do Bootstrap, Bootflat e o pessoal (Estilos)-->
	<link rel="stylesheet" href="assets/css/bootstrap.css" />
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" />
	<link rel="stylesheet" href="assets/css/estilo.css" />
	<link rel="stylesheet" href="assets/css/bootstrap-social.css" />
	<link rel="stylesheet" href="assets/css/site.css" />
	<link rel="stylesheet" href="assets/css/site.min.css" />

	<!--Importação do Javascript pessoal e jQuery  -->
	<script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/cadObras-script.js"></script>

</head>

<body style="background-color: rgb(241, 242, 246);">

	<div class="container">

		<!--Título da caixa-->
		<div id="titulo">
			<h4 class="text-center">Registro da Obra</h4>
		</div>
		<!--Fim do título da caixa-->

		<!--Div com o contorno e organização dos elementos no centro-->
		<div id="contorno">

			<div>


				<!--Formulário de cadastro-->
				<form method="post">

					<!--Página 1: Informações da Obra-->
					<div id="page_1">

						<!--Título da página -->
						<h3 class="text-center">Identificação do Objeto</h3>
						<br>

						<!--Section com os elementos agrupados no centro-->
						<section id="caixa">

							<!--Campos para o cadastro de obra-->
							<fieldset>

								<!--Linha 1-->
								<div class="row">
									<!--Tamanho dos campos é definido pelo bootstrap. Cada um dos campos da linha devem ter 6 blocos de largura-->
									<div class="col-lg-6">
										<div class="form-group">
											<!--Text: Nome do Objeto-->
											<input class="form-control" type="text" name="nome" placeholder="Nome do Objeto (*)">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<!--Text: Título-->
											<input class="form-control" type="text" name="titulo" placeholder="Título (*)">
										</div>
									</div>
								</div>

								<!--Linha 2-->
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<!--Text: Número do Inventário-->
											<input class="form-control" type="number" name="inventario" placeholder="Número do Inventário (*)">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<!--Select: Coleção-->
											<select class="form-control" name="colecao" required>
										<!--A lista de opções tem que ser baixada diretamente das opções do banco de dados utilizando PHP-->
									<option>Coleção (*)</option>
								</select>
										</div>
									</div>
								</div>

								<!--Linha 3-->
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<!--Text: Origem-->
											<input class="form-control" type="text" name="origem" placeholder="Origem">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<!--Text: Procedência-->
											<input class="form-control" type="text" name="procedencia" placeholder="Procedência">
										</div>
									</div>
								</div>

								<!--Linha 4-->
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<!--Select: Classificação-->
											<select class="form-control" name="classificacao" required>
										<!--A lista de opções tem de ser baixada do banco de dados-->
									<option>Classificação (*)</option>
									</select>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<!--Text: Função-->
											<input class="form-control" type="text" name="funcao" placeholder="Função"> </div>
									</div>
								</div>

								<!--Linha 5-->
								<div class="col-lg-12">
									<div class="form-group">
										<!--Text: Tags-->
										<input class="form-control" type="text" name="tags" placeholder="Palavras-chave" align="justify">
									</div>
								</div>
								<!--Linha 6-->
								<div class="col-lg-12">
									<div class="form-group">
										<!--Textarea: Descrição-->
										<textarea class="form-control" id="fixa" rows="3" name="descricao" placeholder="Descrição"></textarea>
									</div>
								</div>

							</fieldset>
							<!--Fim dos campos do formulário-->

						</section>
						<!--Fim da seção com os campos do cadastro-->

					</div>
					<!-- /Página 1  -->

					<!--Página 2: Dimensões e Características Estilísticas -->
					<div class="page" id="page_2">

						<!--Título do Primeiro Bloco  -->
						<h3 class="text-center">Dimensões</h3>
						<br>

						<!--Seção: Dimensões  -->
						<section id="caixa">

							<!--Campos para cadastro da obra  -->
							<fieldset>

								<!--Linha 1  -->
								<div class="row">
									<!-- Tamanho dos componentes é fixado em 4 para o alinhamento na linha  -->
									<div class="col-lg-4">
										<div class="form-group">
											<!--Text: Altura  -->
											<input class="form-control" type="text" name="altura" placeholder="Altura">
										</div>
									</div>

									<div class="col-lg-4">
										<div class="form-group">
											<!--Text: Largura  -->
											<input class="form-control" type="text" name="largura" placeholder="Largura">
										</div>
									</div>

									<div class="col-lg-4">
										<div class="form-group">
											<!--Text: Diâmetro  -->
											<input class="form-control" type="text" name="diametro" placeholder="Diâmetro">
										</div>
									</div>

								</div>
								<!--/Linha 1  -->

								<!--Linha 2  -->
								<div class="row">

									<!--Tem um bloco de tamanho 2 em cada lado da linha para que a linha 2, que tem 2 elementos, fique alinhada com a linha 1, que tem 3 elementos, e as duas mantenham elementos de mesmo tamanho  -->
									<div class="col-lg-2"></div>
									<div class="col-lg-4">
										<div class="form-group">
											<!--Text: Peso -->
											<input class="form-control" type="text" name="peso" placeholder="Peso">
										</div>
									</div>

									<div class="col-lg-4">
										<div class="form-group">
											<!--Text: Comprimento  -->
											<input class="form-control" type="text" name="comprimento" placeholder="Comprimento">
										</div>
									</div>
									<div class="col-lg-2"></div>

								</div>
								<!--/Linha 2  -->

							</fieldset>
							<!-- Fim dos campos de Dimensões  -->

						</section>
						<!-- Fim da Seção: Dimensões -->

						<!--Título do Segundo bloco  -->
						<h3 class="text-center">Características Estilísticas</h3>
						<br>

						<!--Seção: Características Estilísticas  -->
						<section id="caixa">

							<!--Campos para cadastro da obra  -->
							<fieldset>

								<div class="row">
									<!--Elementos tem o tamanho fixo 4 para o alinhamento na linha  -->
									<div class="col-lg-4">
										<div class="form-group">
											<!--TextArea: Materiais Contitutivos  -->
											<textarea class="form-control" id="fixa" rows="3" name="materiais-constitutivos" placeholder="Materiais Constitutivos"></textarea>
										</div>
									</div>

									<div class="col-lg-4">
										<div class="form-group">
											<!--TextArea: Técnicas de Fabricação -->
											<textarea class="form-control" id="fixa" rows="3" name="tecnicas-de-fabricacao" placeholder="Técnicas de Fabricação"></textarea>
										</div>
									</div>

									<div class="col-lg-4">
										<div class="form-group">
											<!--TextArea: Autoria  -->
											<textarea class="form-control" id="fixa" rows="3" name="autoria" placeholder="Autoria"></textarea>
										</div>
									</div>

								</div>

							</fieldset>
							<!-- Fim dos campos: Características Estilísticas  -->

						</section>
						<!-- Fim da Seção: Características Estilísticas  -->
					</div>
					<!-- /Página 2  -->

					<!--Página 3: Marcas e Inscrições e Histórico do Objeto  -->
					<div class="page" id="page_3">

						<h3 class="text-center">Marcas e Inscrições</h3>
						<br>

						<!--Seção: Marcas e Inscrições-->
						<section id="caixa">

							<!--Campos para cadastro da obra  -->
							<fieldset>

								<div class="row">
									<!--Elementos tem o tamanho fixo 12 para o alinhamento na linha  -->
									<div class="col-lg-12">
										<div class="form-group">
											<!--TextArea: Marcas e Inscrições  -->
											<textarea class="form-control" id="fixa" rows="5" name="marcas-e-inscrições"></textarea>
										</div>
									</div>

								</div>

							</fieldset>
							<!-- Fim dos campos: Marcas e Inscrições -->

						</section>
						<!-- Fim da Seção: Marcas e Inscrições -->


						<h3 class="text-center">Histórico do Objeto</h3>
						<br>

						<!--Seção: Histórico do Objeto-->
						<section id="caixa">

							<!--Campos para cadastro da obra  -->
							<fieldset>

								<div class="row">
									<!--Elementos tem o tamanho fixo 12 para o alinhamento na linha  -->
									<div class="col-lg-12">
										<div class="form-group">
											<!--TextArea: Histórico do Objeto  -->
											<textarea class="form-control" id="fixa" rows="5" name="historico-do-objeto"></textarea>
										</div>
									</div>

								</div>

							</fieldset>
							<!-- Fim dos campos:Histórico do Objeto  -->

						</section>
						<!-- Fim da Seção: Histórico do Objeto  -->

					</div>
					<!--/Página 3  -->


					<!--Página 4: Aquisição e Estado de Conservação -->
					<div class="page" id="page_4">

						<h3 class="text-center">Aquisição</h3>
						<br>

						<!--Seção: Aquisição -->
						<section id="caixa">

							<!--Campos para cadastro da obra  -->
							<fieldset>

								<!--Linha 1  -->
								<div class="row">
									<!-- Tamanho dos componentes é fixado em 4 para o alinhamento na linha  -->
									<div class="col-lg-4">
										<div class="form-group">
											<!--Text: Modo de Aquisição  -->
											<input class="form-control" type="text" name="modo-de-aquisicao" placeholder="Modo de Aquisição">
										</div>
									</div>

									<div class="col-lg-4">
										<div class="form-group">
											<!--Text: Data de Aquisição"-->
											<input class="form-control" type="text" name="data-de-aquisicao" placeholder="Data de Aquisição">
										</div>
									</div>

									<div class="col-lg-4">
										<div class="form-group">
											<!--Text: Autor  -->
											<input class="form-control" type="text" name="aquisicao_autor" placeholder="Autor">
										</div>
									</div>

								</div>
								<!--/Linha 1  -->

								<!--Linha 2  -->
								<div class="row">

									<!--Elementos tem o tamanho fixo 12 para o alinhamento na linha  -->
									<div class="col-lg-12">
										<div class="form-group">
											<!--TextArea: Observações  -->
											<textarea class="form-control" id="fixa" rows="3" name="observacoes"></textarea>
										</div>
									</div>

								</div>
								<!--/Linha 2  -->

							</fieldset>
							<!-- Fim dos campos: Aquisição  -->

						</section>
						<!-- Fim da Seção: Aquisição  -->

						<h3 class="text-center">Estado de Conservação</h3>
						<br>

						<!--Seção: Estado de Conservação-->
						<section id="caixa">

							<!--Campos para cadastro da obra  -->
							<fieldset>

								<div class="row">
									<!--Elementos tem o tamanho fixo 4 para o alinhamento na linha  -->
									<div class="col-lg-12">
										<div class="form-group">
											<!--TextArea: Estado de Conservação  -->
											<textarea class="form-control" id="fixa" rows="5" name="estado-de-conservacao"></textarea>
										</div>
									</div>

								</div>

							</fieldset>
							<!-- Fim dos campos: Estado de Conservação  -->

						</section>
						<!-- Fim da Seção: Estado de Conservação -->

					</div>
					<!--/Página 4  -->

					<!--Página 5: Documentação Fotográfica  -->
					<div class="page" id="page_5">

						<h3 class="text-center">Documentação Fotográfica</h3>
						<br>

						<!--Seção: Documentação Fotográfica -->
						<section id="caixa">

							<!--Campos para cadastro da obra  -->
							<fieldset>

								<div class="row">
									<!-- Tamanho dos componentes é fixado em 4 para o alinhamento na linha  -->
									<div class="col-lg-4">
										<div class="form-group">
											<!--Text: Modo de Aquisição  -->
											<input class="form-control" type="text" name="fotografo" placeholder="Fotógrafo">
										</div>
									</div>

									<div class="col-lg-4">
										<div class="form-group">
											<!--Text: Data da Fotografia  -->
											<input class="form-control" type="text" name="data-da-fotografia" placeholder="Data da Fotografia">
										</div>
									</div>

									<div class="col-lg-4">
										<div class="form-group">
											<!--Text: Autor  -->
											<input class="form-control" type="text" name="fotografia_autor" placeholder="Autor">
										</div>
									</div>

								</div>
							</fieldset>
							<!-- Fim dos campos:Documentação Fotográfica  -->

						</section>
						<!-- Fim da Seção: Documentação Fotográfica  -->
					</div>
					<!--/Página 5  -->

					<div class="modal-footer" style="border-top: 0; margin-right: 15px;">
						<div class="form-group">
							<button type="button" class="btn btn-default" onclick="voltarPag(); atualizarTextoBotao()" id="btn-cancelar">Cancelar</button>
							<button type="button" class="btn btn-success" onclick="avancarPag(); atualizarTextoBotao()" id="btn-confirmar">Próximo</button>
						</div>
					</div>

				</form>
				<!--Fim do formulário-->

			</div>

		</div>
		<!--Fim da div contorno-->
	</div>
	<!--Fim da div geral-->

	<!-- Footer -->
	<footer class="footer-distributed">

		<div class="footer-left">

			<h3>Sertour</h3>

			<p class="footer-company-name">MItologic Software® &copy; 2017</p>
		</div>

		<div class="footer-center">

			<p class="footer-links">
				<a href="#">Home</a>
				<a href="#">Galeria</a>
				<a href="#">Sobre</a>
			</p>

		</div>

		<div class="footer-right">

			<div class="footer-icons">
				<p style="text-align: center;">
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a>
				</p>

			</div>


		</div>

	</footer>
	<!-- /Footer -->

</body>

</html>