<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />

    <meta name="description" content="Setour" />
    <meta name=viewport  content="width=device-width, initial-scale=1" />

    <title>Sertour</title>

    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css">
    <link rel="stylesheet" href="assets/css/estilo.css">
    <link rel="stylesheet" href="assets/css/bootstrap-social.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  </head>
  <body>
   

       <h1 class="text-center">Confirme seu endereço de email</h1>
       <br>
        <h3 class="text-center">Está quase pronto! Uma mensagem de confirmação foi enviada para você!</h3>
        <br>
        <h4 class="text-center"> Basta verificar o seu email e seguir o link para terminar de criar a sua conta. </h4>
        <br>
        <HR WIDTH=50%>
        <h5 class="text-center"> <b> Não recebeu o e-mail? Podemos <a href="confirmacao.html"> reenviar o e-mail de confirmação. </b> </h4> </a> 
      

    <!-- Footer -->
    <footer class="footer-distributed">

      <div class="footer-left">

        <h3>Sertour</h3>

        <p class="footer-company-name">MItologic Software® &copy; 2017</p>
      </div>

      <div class="footer-center">

        <p class="footer-links">
          <a href="#">Home</a>
          <a href="#">Galeria</a>
          <a href="#">Sobre</a>
        </p>

      </div>

      <div class="footer-right">

        <div class="footer-icons">
          <p style="text-align: center;">
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          </p>

        </div>


      </div>

    </footer>
    <!-- /Footer -->


    <script type="text/javascript" src="js/bootstrap.js"></script>
  </body>
</html>