<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />

    <meta name="description" content="Setour" />
    <meta name=viewport  content="width=device-width, initial-scale=1" />

    <title>Sertour</title>

    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css">
    <link rel="stylesheet" href="assets/css/estilo.css">
    <link rel="stylesheet" href="assets/css/bootstrap-social.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  </head>
  <body>
   

       <h1 class="text-center">Pronto!</h1>
      <center> <img src="assets/images/emailConfirmado.png" align="middle" id="emailConfirmado"> </center>
        <h3 class="text-center">Seu e-mail foi verificado com sucesso!</h1>
        <h5 class="text-center">Por que você não experimenta começar por <a href="https://sertour.home"> aqui? <br/> </h5></a>
      

    <!-- Footer -->
    <footer class="footer-distributed">

      <div class="footer-left">

        <h3>Sertour</h3>

        <p class="footer-company-name">MItologic Software® &copy; 2017</p>
      </div>

      <div class="footer-center">

        <p class="footer-links">
          <a href="#">Home</a>
          <a href="#">Galeria</a>
          <a href="#">Sobre</a>
        </p>

      </div>

      <div class="footer-right">

        <div class="footer-icons">
          <p style="text-align: center;">
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          </p>

        </div>


      </div>

    </footer>
    <!-- /Footer -->


    <script type="text/javascript" src="js/bootstrap.js"></script>
  </body>
</html>