<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!--Codificação dos caracteres: UTF-8-->
    <meta charset="utf-8" />
    <!--Descrição da página: Sertour-->
    <meta name="description" content="Setour" />
    <!--Regulando a visão da tela para a largura relativa à tela utilizada-->
    <meta name=viewport content="width=device-width, initial-scale=1" />

    <title>Gerenciamento de Obra</title>

    <!--Importação do CSS do Bootstrap, Bootflat e o pessoal (Estilos)-->
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-social.css" />
    <link rel="stylesheet" href="assets/css/site.css" />
    <link rel="stylesheet" href="assets/css/site.min.css" />
    <link rel="stylesheet" href="assets/css/adm.css" />


    <!--Importação do Javascript pessoal e jQuery  -->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/cadObras-script.js"></script>

</head>

<body style="background-color: rgb(241, 242, 246);">

    <div class="container">

        <!-- Painel -->
        <div class="col-md-3 col-lg-3"></div>

        <div class="col-md-9 col-lg-9">

            <!--Título da caixa-->
            <div id="titulo">
                <h4 class="text-center">Gerenciamento de Obras</h4>
            </div>
            <!--Fim do título da caixa-->

            <!-- Contorno -->
            <div id="contorno">

                <!-- Caixa interna -->
                <section id="caixa">

                    <!-- Inicio da caixa de busca-->
                    <div class="row busca">

                        <!-- Tamanho e posição do input de busca -->
                        <div class="col-lg-6 col-lg-offset-3">

                            <!-- Input de busca  -->

                            <div class="search-only form-search">
                                <i class="search-icon fa fa-search"></i>
                                <input type="text" class="form-control search-query input-sm" placeholder="Busca" id="busca" style="border-radius: 30px;" />
                            </div>

                            <!-- FIM Tamanho e posição do input de busca -->
                        </div>

                        <!-- FIM da caixa de busca -->
                    </div>




                    <!-- Inicio da galeria -->
                    <div class="row" align="center">


                        <!-- Posição e tamanho do item da galeria. Isto que deve ser replicado com o PHP puxando
                        os funcinários do banco de dados-->
                        <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter spray ">

                            <!-- Caixa do item -->
                            <div class="caixa-obra">

                                <!--LINK A SER REDIRECIONADO COM AS INFORMAÇÕES DA OBRA-->
                                <a href="cadObras.html" class="text-center">

                                    <!-- Icone funcionário -->
                                    <img src="assets/images/320x320.png " class="img-responsive" align="center">

                                    <!-- Nome funcionário -->
                                    <h5><dt>Nome da obra </dt></h5>


                                    <!-- FIM LINK A SER REDIRECIONADO COM AS INFORMAÇÕES DA OBRA-->
                                </a>

                                <!-- FIM da Caixa do item -->
                            </div>

                            <!-- /Posição e tamanho do item da galeria. Isto que deve ser replicado com o PHP puxando
                        os funcinários do banco de dados-->
                        </div>

                        <!-- Posição e tamanho do item da galeria. Isto que deve ser replicado com o PHP puxando
                        os funcinários do banco de dados-->
                        <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter spray ">

                            <!-- Caixa do item -->
                            <div class="caixa-obra">

                                <!--LINK A SER REDIRECIONADO COM AS INFORMAÇÕES DA OBRA-->
                                <a href="cadObras.html" class="text-center">

                                    <!-- Icone funcionário -->
                                    <img src="assets/images/320x320.png " class="img-responsive" align="center">

                                    <!-- Nome funcionário -->
                                    <h5><dt>Nome da obra </dt></h5>


                                    <!-- FIM LINK A SER REDIRECIONADO COM AS INFORMAÇÕES DA OBRA-->
                                </a>

                                <!-- FIM da Caixa do item -->
                            </div>

                            <!-- /Posição e tamanho do item da galeria. Isto que deve ser replicado com o PHP puxando
                        os funcinários do banco de dados-->
                        </div>

                        <!-- Posição e tamanho do item da galeria. Isto que deve ser replicado com o PHP puxando
                        os funcinários do banco de dados-->
                        <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter spray ">

                            <!-- Caixa do item -->
                            <div class="caixa-obra">

                                <!--LINK A SER REDIRECIONADO COM AS INFORMAÇÕES DA OBRA-->
                                <a href="cadObras.html" class="text-center">

                                    <!-- Icone funcionário -->
                                    <img src="assets/images/320x320.png " class="img-responsive" align="center">

                                    <!-- Nome funcionário -->
                                    <h5><dt>Nome da obra </dt></h5>


                                    <!-- FIM LINK A SER REDIRECIONADO COM AS INFORMAÇÕES DA OBRA-->
                                </a>

                                <!-- FIM da Caixa do item -->
                            </div>

                            <!-- /Posição e tamanho do item da galeria. Isto que deve ser replicado com o PHP puxando
                        os funcinários do banco de dados-->
                        </div>

                        <!-- Posição e tamanho do item da galeria. Isto que deve ser replicado com o PHP puxando
                        os funcinários do banco de dados-->
                        <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter spray ">

                            <!-- Caixa do item -->
                            <div class="caixa-obra">

                                <!--LINK A SER REDIRECIONADO COM AS INFORMAÇÕES DA OBRA-->
                                <a href="cadObras.html" class="text-center">

                                    <!-- Icone funcionário -->
                                    <img src="assets/images/320x320.png " class="img-responsive" align="center">

                                    <!-- Nome funcionário -->
                                    <h5><dt>Nome da obra </dt></h5>


                                    <!-- FIM LINK A SER REDIRECIONADO COM AS INFORMAÇÕES DA OBRA-->
                                </a>

                                <!-- FIM da Caixa do item -->
                            </div>

                            <!-- /Posição e tamanho do item da galeria. Isto que deve ser replicado com o PHP puxando
                        os funcinários do banco de dados-->
                        </div>

                        <!-- Posição e tamanho do item da galeria. Isto que deve ser replicado com o PHP puxando
                        os funcinários do banco de dados-->
                        <div class="gallery_product col-lg-3 col-md-3 col-sm-3 col-xs-6 filter spray ">

                            <!-- Caixa do item -->
                            <div class="caixa-obra">

                                <!--LINK A SER REDIRECIONADO COM AS INFORMAÇÕES DA OBRA-->
                                <a href="cadObras.html" class="text-center">

                                    <!-- Icone funcionário -->
                                    <img src="assets/images/320x320.png " class="img-responsive" align="center">

                                    <!-- Nome funcionário -->
                                    <h5><dt>Nome da obra </dt></h5>


                                    <!-- FIM LINK A SER REDIRECIONADO COM AS INFORMAÇÕES DA OBRA-->
                                </a>

                                <!-- FIM da Caixa do item -->
                            </div>

                            <!-- /Posição e tamanho do item da galeria. Isto que deve ser replicado com o PHP puxando
                        os funcinários do banco de dados-->
                        </div>





                        <!-- /FIM da galeria -->
                    </div>

                    <!-- /FIM da Caixa interna -->
                </section>

                <!-- FIM do Contorno -->
            </div>

        </div>

    </div>


</body>

</html>