<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!--Codificação dos caracteres: UTF-8-->
    <meta charset="utf-8" />
    <!--Descrição da página: Sertour-->
    <meta name="description" content="Setour" />
    <!--Regulando a visão da tela para a largura relativa à tela utilizada-->
    <meta name=viewport content="width=device-width, initial-scale=1" />

    <title>Cadastro de obras</title>

    <!--Importação do CSS do Bootstrap, Bootflat e o pessoal (Estilos)-->
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-social.css" />
    <link rel="stylesheet" href="assets/css/site.css" />
    <link rel="stylesheet" href="assets/css/site.min.css" />

    <!--Importação do Javascript pessoal e jQuery  -->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/cadObras-script.js"></script>

</head>

<body style="background-color: rgb(241, 242, 246);">

    <div class="container">

        <div id='cadastro-noticias'>
            <!--Título da caixa-->
            <div id="titulo">
                <h4 class="text-center">Gerencoamento de Funcionarios</h4>
            </div>
            <!--Fim do título da caixa-->

            <div id="contorno">

                <section id="caixa" style="height: 50vh;">
                    <div class="row" aling="center">

                        <div class=" gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation ">
                            <img src="assets/images/use (1).jpg " class="img-responsive ">
                        </div>

                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe ">
                            <img src="assets/images/use (1).jpg " class="img-responsive ">
                        </div>

                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation ">
                            <img src="assets/images/use (1).jpg " class="img-responsive ">
                        </div>

                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation ">
                            <img src="assets/images/use (1).jpg " class="img-responsive ">
                        </div>

                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray ">
                            <img src="assets/images/use (1).jpg " class="img-responsive ">
                        </div>

                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation ">
                            <img src="assets/images/use (1).jpg " class="img-responsive ">
                        </div>

                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray ">
                            <img src="assets/images/use (1).jpg " class="img-responsive ">
                        </div>

                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray ">
                            <img src="assets/images/use (1).jpg " class="img-responsive ">
                        </div>

                        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray ">
                            <img src="assets/images/use (1).jpg " class="img-responsive ">
                        </div>

                    </div>
                </section>
            </div>


        </div>

    </div>

    <!-- Footer -->
    <footer class="footer-distributed ">

        <div class="footer-left ">

            <h3>Sertour</h3>

            <p class="footer-company-name ">MItologic Software® &copy; 2017</p>
        </div>

        <div class="footer-center ">

            <p class="footer-links ">
                <a href="# ">Home</a>
                <a href="# ">Galeria</a>
                <a href="# ">Sobre</a>
            </p>

        </div>

        <div class="footer-right ">

            <div class="footer-icons ">
                <p style="text-align: center; ">
                    <a href="# "><i class="fa fa-twitter "></i></a>
                    <a href="# "><i class="fa fa-facebook "></i></a>
                    <a href="# "><i class="fa fa-google-plus "></i></a>
                </p>

            </div>


        </div>

    </footer>
    <!-- /Footer -->

</body>

</html>