<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />

    <meta name="description" content="Setour" />
    <meta name=viewport  content="width=device-width, initial-scale=1" />

    <title>Sertour</title>

    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css">
    <link rel="stylesheet" href="assets/css/estilo.css">
    <link rel="stylesheet" href="assets/css/bootstrap-social.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  </head>
  <body>

    <div id="container">

      <img src="assets/images/logo.jpg" class="img-rounded" id="logo">
      <section id="caixa-login">
          <h4 class="text-center">Login</h4>

            <form class="form-horizontal " id="formLogin">
                <div class="form-group col-xs-12.3">
                    <input type="email" class="form-control"  placeholder="Email">
                </div>

                <div class="form-group col-xs-12.3">
                    <input type="password" class="form-control" placeholder="Password">
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-5">
                    <button type="submit" class="btn btn-default btn-md center">Entrar</button>
                  </div>
                </div>
          </form>

          <a href="mailto:#"> <h5 class="text-center">Cadastre-se <br/> </h5></a>
          <a href="mailto:#"> <h5 class="text-center" style="padding-bottom: 15px;"> Esqueci a minha senha</h5></a>
          <h6 class="text-center">Outras opções de Login</h6>

          <div class="center" style="margin: 0 auto; width:43%">

          <a class="btn btn-social-icon btn-lg btn-facebook ">
         <Span class = "fa fa-facebook"> </ span>
          </a>

          <img src="assets/images/divisor.jpg">

          <a class="btn btn-social-icon btn-lg btn-google-plus ">
         <Span class = "fa fa-google-plus"> </ span>

          </a>
        </div>

      </section>

    </div>

    <!-- Footer -->
    <footer class="footer-distributed">

      <div class="footer-left">

        <h3>Sertour</h3>

        <p class="footer-company-name">MItologic Software® &copy; 2017</p>
      </div>

      <div class="footer-center">

        <p class="footer-links">
          <a href="#">Home</a>
          <a href="#">Galeria</a>
          <a href="#">Sobre</a>
        </p>

      </div>

      <div class="footer-right">

        <div class="footer-icons">
          <p style="text-align: center;">
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          </p>

        </div>


      </div>

    </footer>
    <!-- /Footer -->


    <script type="text/javascript" src="js/bootstrap.js"></script>
  </body>
</html>
