<html> 
    <head>
        <title>Sertour</title>
        <meta charset="utf-8">
        <meta name=viewport  content="width=device-width, initial-scale=1" />

        <!--Importação do CSS do Bootstrap, Bootflat e o pessoal (Estilos)-->
        <link rel="stylesheet" href="assets/css/bootstrap.css" />
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="assets/css/estilo.css" />
        <link rel="stylesheet" href="assets/css/bootstrap-social.css" />
        <link rel="stylesheet" href="assets/css/site.css" />
        <link rel="stylesheet" href="assets/css/site.min.css" />
        
        
        
        
        <!--Importação do Javascript pessoal e jQuery  -->
        <script src="assets/js/jquery-3.2.1.min.js"></script>
        <script src="assets/js/bootstrap.js"></script>

        <link rel="stylesheet" href="assets/css/painel.css" />
        
    </head>

    <body style="background-color:rgb(233, 233, 233)">

        <div class="container">
            <div class="col-xs-6 col-sm-3">
                <div class="panel">
                <div class="panel-heading text-center">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" id="obras" data-parent="#accordion2" href="#submenu-obra" class="collapsed" onclick="selecionar(obras)">
                      <span class="glyphicon glyphicon-camera"></span> Obras
                    </a>
                    <div id="submenu-obra" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="" class="link">• Cadastrar Obra</a><br><br>
                            <a href="" class="link">• Gerenciar Obras</a>
                            
                        </div>
                    </div>
                  </h4>
                  <br>
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#submenu-noticias" class="collapsed">
                      <span class="glyphicon glyphicon-list-alt"></span> Notícias
                    </a>
                    <div id="submenu-noticias" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="" class="link">• Cadastrar Notícia</a><br><br>
                            <a href="" class="link">• Gerenciar Notícias</a>
                        </div>
                    </div>
                  </h4>
                  <br>
                  <h4 class="panel-title">
                    <a data-toggle="collapse"  data-parent="#accordion2" href="#submenu-funcionario" class="collapsed">
                      <span class="glyphicon glyphicon-thumbs-up"></span> Pesquisas
                    </a>
                    <div id="submenu-funcionario" class="panel-collapse collapse ">
                        <div class="panel-body">
                            <a href="#" class="link" >• Criar Pesquisa</a><br><br>
                            <a href="#" class="link" >• Gerenciar Pesquisas</a>
                        </div>
                    </div>
                  </h4>
                  <br>
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#submenu-relatorios" class="collapsed">
                     <span class="glyphicon glyphicon-align-left"></span> Relatórios
                    </a>
                    <div id="submenu-relatorios" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="#" class="link" >• Relatório de Acesso</a><br><br>
                            <a href="#" class="link" >• Relatórios do Sistema</a>
                        </div>
                    </div>
                  </h4>
                  <br>
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#submenu-funcionarios" class="collapsed">
                     <span class="glyphicon glyphicon-user"></span> Funcionários
                    </a>
                    <div id="submenu-funcionarios" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="#" class="link" >• Cadastrar Funcionário</a><br><br>
                            <a href="#" class="link" >• Gerenciar Funcionários</a>
                        </div>
                    </div>
                  </h4>
                  <br>
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion2" href="#submenu-backup" class="collapsed">
                     <span class="glyphicon glyphicon-floppy-disk"></span> Backup
                    </a>
                    <div id="submenu-backup" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="#" class="link">• Realizar Backup</a><br><br>
                        </div>
                    </div>
                  </h4>
                </div>
              </div>

            </div>
            <div class="col-sm-8"></div>
        </div>
    </body>
</html>