<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!--Codificação dos caracteres: UTF-8-->
    <meta charset="utf-8" />
    <!--Descrição da página: Sertour-->
    <meta name="description" content="Setour" />
    <!--Regulando a visão da tela para a largura relativa à tela utilizada-->
    <meta name=viewport content="widtd=device-widtd, initial-scale=1" />

    <title>Relatórios de acesso</title>

    <!--Importação do CSS do Bootstrap, Bootflat e o pessoal (Estilos)-->
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-tdeme.css" />
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-social.css" />
    <link rel="stylesheet" href="assets/css/site.css" />
    <link rel="stylesheet" href="assets/css/site.min.css" />
    <link rel="stylesheet" href="assets/css/adm.css" />

</head>

<body>

    <div class="container">

        <!-- Painel -->
        <div class="col-md-3 col-lg-3">

        </div>

        <div class="col-md-9 col-lg-9">

            <!--Título da caixa-->
            <div id="titulo">
                <h4 class="text-center">Relatório de acesso</h4>
            </div>
            <!--Fim do título da caixa-->


            <!-- Início da tabela -->
            <table class="table table-striped table-condensed" id="tabela">

                <!-- Linha de títulos -->
                <tr>
                    <!-- info coluna 1 (matricula) -->
                    <th>
                        Nº de Matrícula
                    </th>
                    <!-- info coluna 2 (ação) -->
                    <th>
                        Ação
                    </th>
                    <!-- info coluna 3 (data) -->
                    <th>
                        Data
                    </th>
                    <!-- info coluna 4 (horário) -->
                    <th>
                        Horário
                    </th>
                </tr>

                <!-- Nova linha -->
                <tr>
                    <!-- info coluna 1 (matricula) -->
                    <td>
                        11239120
                    </td>
                    <!-- info coluna 2 (ação) -->
                    <td>
                        Alterou a descrição da obra Couro
                    </td>
                    <!-- info coluna 3 (data) -->
                    <td>
                        25/03/2017
                    </td>
                    <!-- info coluna 4 (horário) -->
                    <td>
                        10:24
                    </td>
                </tr>

                <!-- Nova linha -->
                <tr>
                    <!-- info coluna 1 (matricula) -->
                    <td>
                        93819394
                    </td>
                    <!-- info coluna 2 (ação) -->
                    <td>
                        Adicionou a obra A vida, O Couro e tudo mais
                    </td>
                    <!-- info coluna 3 (data) -->
                    <td>
                        26/03/2017
                    </td>
                    <!-- info coluna 4 (horário) -->
                    <td>
                        15:35
                    </td>
                </tr>

                <!-- Nova linha -->
                <tr>
                    <!-- info coluna 1 (matricula) -->
                    <td>
                        29384950
                    </td>
                    <!-- info coluna 2 (ação) -->
                    <td>
                        Adicionou o funcionário João da Silva
                    </td>
                    <!-- info coluna 3 (data) -->
                    <td>
                        30/03/2017
                    </td>
                    <!-- info coluna 4 (horário) -->
                    <td>
                        16:01
                    </td>
                </tr>

            </table>
            <!-- fim da tabela -->
        </div>
    </div>
    </div>
</body>

<!-- Footer -->
<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Sertour</h3>

        <p class="footer-company-name">MItologic Software® &copy; 2017</p>
    </div>

    <div class="footer-center">

        <p class="footer-links">
            <a href="#">Home</a>
            <a href="#">Galeria</a>
            <a href="#">Sobre</a>
        </p>

    </div>

    <div class="footer-right">

        <div class="footer-icons">
            <p style="text-align: center;">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </p>

        </div>


    </div>

</footer>
<!-- /Footer -->