<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Configurações de tela -->
    <meta charset="utf-8" />
    <meta name="description" content="Setour" />
    <meta name=viewport content="width=device-width, initial-scale=1" />

    <!-- Título -->
    <title>Sertour</title>

    <!-- Importação de estilo -->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css">
    <link rel="stylesheet" href="assets/css/estilo.css">
    <link rel="stylesheet" href="assets/css/bootstrap-social.css">
    <link rel="stylesheet" type="text/css" href="assets/css/site.mim.css">

    <!-- Importação de script -->
    <script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>

</head>

<body>

    <!-- Container principal -->
    <div id="container" class="container">

        <!--Definição de tamanho e posição -->
        <div class="col-sm-10 col-md-offset-2">

            <!-- Imagem e mensagem -->
            <div class="row ">
                <img src="assets/images/if_ok_circle_1303886.png" class=" img-responsive" style="margin:0 auto;">
                <p class="text-center" style="padding-top: 2vh;">Backup restaurado com sucesso!</p>

                <!-- AQUI TEM QUE TER UM LINK PARA VOLTAR PARA O SISTEMA -->
                <p class="text-center" style="padding-top: 2vh;">Clique <a href="#">aqui </a>para voltar a utilizar o sistema.</p>

            </div>

        </div>

    </div>




</body>

</html>