<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Configurações de tela -->
    <meta charset="utf-8" />
    <meta name="description" content="Setour" />
    <meta name=viewport content="width=device-width, initial-scale=1" />

    <!-- Título -->
    <title>Sertour</title>

    <!-- Importação de estilo -->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css">
    <link rel="stylesheet" href="assets/css/estilo.css">
    <link rel="stylesheet" href="assets/css/bootstrap-social.css">
    <link rel="stylesheet" type="text/css" href="assets/css/site.mim.css">

    <!-- Importação de script -->
    <script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>

</head>

<body>

    <!-- Container principal -->
    <div id="container" class="container">

        <!-- Definição do quanto a mensagem vai tomar a tela -->
        <div class="col-sm-10 col-md-offset-2">

            <!-- Imagem e mensagem -->
            <div class="row ">
                <img src="assets/images/if_backup_maior.png" class=" img-responsive" style="margin:0 auto;">
                <p class="text-center" style="padding-top: 2vh;">Restaurando backup. Isso pode levar algum tempo.</p>
            </div>
            <!-- /Imagem e mensagem -->


            <!-- Barra de progresso -->
            <div class="col-md-6 col-lg-6 col-md-offset-3">
                <div class="row ">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                            40%
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Barra de progresso -->


        </div>

    </div>




</body>
]
<!--Script que avisa que se a tela for fechada haverá perda de dados durante a restauracao -->
<script type="text/javascript">
    window.onbeforeunload = confirmExit;

    function confirmExit() {
        return "A restauração ainda não terminou, isso pode danificar o sistema. Deseja realmente sair?";
    }
</script>

</html>