<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />

    <meta name="description" content="Setour" />
    <meta name=viewport  content="width=device-width, initial-scale=1" />


    <title>JOGO</title>

      </script>

  </head>
  <body>

       <input type="radio" id="clique1" onclick="mudaDiv('div1','div2')"/>
       <div id="div1" style="float: left; border 1px solid #333; height:200px; width:300px;">html 1</div>
       <div id="div2" style="visibility:hidden;">html 2</div>

  </body>

    <script language="javascript">

      function mudaDiv(divA, divB){
        document.getElementById(divA).innerHTML = document.getElementById(divB).innerHTML;
      }
    </script>

</html>
