<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!--Codificação dos caracteres: UTF-8-->
    <meta charset="utf-8" />
    <!--Descrição da página: Sertour-->
    <meta name="description" content="Setour" />
    <!--Regulando a visão da tela para a largura relativa à tela utilizada-->
    <meta name=viewport content="width=device-width, initial-scale=1" />

    <title>Vizualização de obras</title>

    <!--Importação do CSS do Bootstrap, Bootflat e o pessoal (Estilos)-->
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-social.css" />
    <link rel="stylesheet" href="assets/css/site.css" />
    <link rel="stylesheet" href="assets/css/site.min.css" />

    <!--Importação do Javascript pessoal e jQuery  -->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>


</head>

<body>

    <div class="container">

        <!--Título da caixa-->




    </div>

    <!-- Footer -->
    <footer class=" footer-distributed ">

        <div class="footer-left ">

            <h3>Sertour</h3>

            <p class="footer-company-name ">MItologic Software® &copy; 2017</p>
        </div>

        <div class="footer-center ">

            <p class="footer-links ">
                <a href="# ">Home</a>
                <a href="# ">Galeria</a>
                <a href="# ">Sobre</a>
            </p>

        </div>

        <div class="footer-right ">

            <div class="footer-icons ">
                <p style="text-align: center; ">
                    <a href="# "><i class="fa fa-twitter "></i></a>
                    <a href="# "><i class="fa fa-facebook "></i></a>
                    <a href="# "><i class="fa fa-google-plus "></i></a>
                </p>

            </div>


        </div>

    </footer>
    <!-- /Footer -->

</body>


</html>