<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!--Codificação dos caracteres: UTF-8-->
    <meta charset="utf-8" />
    <!--Descrição da página: Sertour-->
    <meta name="description" content="Setour" />
    <!--Regulando a visão da tela para a largura relativa à tela utilizada-->
    <meta name=viewport content="width=device-width, initial-scale=1" />

    <title>Vizualização de obras</title>

    <!--Importação do CSS do Bootstrap, Bootflat e o pessoal (Estilos)-->
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="assets/css/estilo.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-social.css" />
    <link rel="stylesheet" href="assets/css/site.css" />
    <link rel="stylesheet" href="assets/css/site.min.css" />

    <!--Importação do Javascript pessoal e jQuery  -->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>


</head>

<body>
    <!-- Container principal -->
    <div class="container" style="padding: 2vh;">

        <!-- Painel lateral com categorias -->
        <div class="col-md-2">
            <h4>Categoria</h4>
            <h6>Categoria 1</h6>
            <h6>Categoria 2</h6>
            <h6>Categoria 3</h6>
            <h6>Categoria 4</h6>
            <h6>Categoria 5</h6>
            <h6>Categoria 6</h6>
            <h6>Categoria 7</h6>

        </div>

        <!-- Div direita com as imagens e a informações -->
        <div class="col-md-10 painel-imagens-obra">

            <!-- Botão para voltar para a galeria -->
            <div class="row botao-galeria">
                <button class="btn btn-default btn-sm" style="border:none">
                    <img src="assets/images/if_arrow-back_216437.png">
                        Volta para galeria
                </button>
            </div>

            <!-- Recuo em relação ao botão acima -->
            <div style="padding-left:15vh;">

                <!-- Head da vizualização de obras -->
                <div class="row" style="padding:2vh;">

                    <!-- Botão para voltar para obra anterior da galeria -->
                    <div class="col-md-3">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-chevron-left"></span> 
                            obra anterior
                        </button>
                    </div>
                    <!-- /Botão para voltar para obra anterior da galeria -->

                    <!-- Título da Obra -->
                    <div class="col-md-5">
                        <h3 class="text-center">Título da obra</h3>
                    </div>
                    <!-- /Título da Obra -->

                    <!-- Botão para próxima obra da galeria -->
                    <div class="col-md-4" style="padding-left:17vh;">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-chevron-right"></span> 
                            próxima obra
                        </button>
                    </div>
                    <!-- /Botão para próxima obra da galeria -->


                </div>
                <!-- /Head da vizualização de obras -->




                <!-- Imagens da obra -->
                <div class="carousel slide article-slide center" id="article-photo-carousel">

                    <!-- OBS: AS IMAGENS GRANDES DEVEM ESTÁ NA MESMA ORDEM PARA COINCIDIREM COM AS PEQUENAS -->

                    <!-- Imagens Grandes -->
                    <div class="row">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner cont-slider">

                            <div class="item active">
                                <img alt="" title="" src="http://placehold.it/600x400">
                            </div>
                            <div class="item">
                                <img alt="" title="" src="http://placehold.it/600x400">
                            </div>
                            <div class="item">
                                <img alt="" title="" src="http://placehold.it/600x400">
                            </div>
                            <div class="item">
                                <img alt="" title="" src="http://placehold.it/600x400">
                            </div>
                            <div class="item">
                                <img alt="" title="" src="http://placehold.it/600x400">
                            </div>

                        </div>
                    </div>

                    <!-- Imagens pequenas -->
                    <div class="row" style="padding-top: 12vh;">

                        <!-- Indicators -->
                        <ol class="carousel-indicators" style="padding-left: 3vh;">

                            <li class="active" data-slide-to="0" data-target="#article-photo-carousel">
                                <img alt="" src="http://placehold.it/250x180">
                            </li>
                            <li class="" data-slide-to="1" data-target="#article-photo-carousel">
                                <img alt="" src="http://placehold.it/250x180">
                            </li>
                            <li class="" data-slide-to="2" data-target="#article-photo-carousel">
                                <img alt="" src="http://placehold.it/250x180">
                            </li>
                            <li class="" data-slide-to="3" data-target="#article-photo-carousel">
                                <img alt="" src="http://placehold.it/250x180">
                            </li>
                            <li class="" data-slide-to="4" data-target="#article-photo-carousel">
                                <img alt="" src="http://placehold.it/250x180">
                            </li>

                        </ol>
                    </div>
                </div>

                <!--Informações da obra -->
                <div class="row">
                    <div class="center">

                        <!-- Borda da caixa -->
                        <div class=" caixa-informacoes-obra ">

                            <!--Título da obra -->
                            <h4 class="text-center">Título da obra</h4>

                            <!-- Demais informações -->
                            <p>Nome do auto: Lucas</p>
                            <p>Coleção: Lucas da Feira</p>
                            <p>Descrição: couro de boi</p>

                        </div>
                    </div>
                </div>

            </div>



        </div>

</body>

<script type="text/javascript ">
    $('.carousel').carousel({
        interval: false
    });
</script>

</html>